<link rel="stylesheet" href="./../static/css/pages/profiles.css">

<div id="profile-overview" class="m-3">
    <h3>Profiles</h3>
    <div class="list-group" id="profile-list"> </div>
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
        <i class="material-icons">add</i> &nbsp;Add a profile
    </a>
</div>
<div id="profile-edit" class="m-3" hidden>
    <h3>Profile Editor</h3>
    <input type="text" id="edit-name" class="form-control" placeholder="Profile Name">
    <br>
    <div class="d-flex align-items-center justify-content-between">
        <div class="input-group">
            <input type="text" id="" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">Go</button>
            </div>
        </div>
        <div class="input-group">
            <input type="text" id="" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">Go</button>
            </div>
        </div>
    </div>
    <br>
    <label for="edit-version">Version</label>
    <select class="versions custom-select" id="edit-version">
        <optgroup label="Latest" id="opt-latest"> </optgroup>
        <optgroup label="Releases" id="opt-releases"> </optgroup>
        <optgroup label="Snapshots" id="opt-snapshot"> </optgroup>
    </select>
</div>

<script src="./../static/js/pages/profiles.js"></script>