<link rel="stylesheet" href="./../static/css/pages/vanilla.css">

<div id="textarea">
    <!-- <div class="title">
        <img src="./../static/images/textlogo.png" alt="">
    </div> -->
</div>

<div id="playarea" class="fixed-bottom">
    <div class="progress" id="progress-bar">
        <div class="progress-bar" id="start-progress"></div>
    </div>
    <button class="btn btn-success" onclick="launch('1.15.2')" id="startbtn">PLAY</button>
</div>


<script src="./../static/js/pages/vanilla.js"></script>