@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-drag: none;
}
body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    display: flex;
    width: 100%;
    align-items: stretch;
}
.pointer{
    cursor: pointer;
}

/* sidebar */
#sidebar{
    position: fixed;
    height: 100vh;
    width: 15vw;
}

.sidebar p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.sidebar a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #181818;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 20px 0;
    border-top: 1px solid #000000;
}

#sidebar ul p {
    padding: 25px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin: 2px;
}

#sidebar ul li a:hover {
    background: #213549;
    border-radius: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    padding-left: 30px;
    color: rgb(255, 255, 255);
    background: #375a7f;
    border-radius: 10px;
    padding: 12px;
}
.sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #191919;
}

/* mainpage */
#mainpage{
    margin-left: 15vw;
    overflow-y: auto !important;
    width: calc(100vw - 15vw);
}
.paralax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}




/* scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: rgb(87, 87, 87);
}
::-webkit-scrollbar-thumb {
    background: #888;
}