@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face{
    font-family: "MinecraftEvenings";
    src: url("./../fonts/MinecraftEvenings-RBao.ttf");
}

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-drag: none;
}
body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    display: flex;
    width: 100%;
    align-items: stretch;
}
.pointer{
    cursor: pointer;
}



.dropdown-menu{
    padding: 1px 1px 3px;
    margin: 0;
    border-radius: 0;
}
button:focus{
    outline: none;
}



/* mainpage */
#mainpage{
    margin-left: 15vw;
    overflow-y: auto !important;
    width: calc(100vw - 15vw);
}
.paralax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}




/* scrollbar */
::-webkit-scrollbar {
    width: 2px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: rgb(87, 87, 87);
}
::-webkit-scrollbar-thumb {
    background: #888;
}