#mainpage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../../images/home-bg.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.title{
    margin-top: 10vh;
    padding-top: 10vh;
    background-color:rgba(0, 0, 0, 0.5);
}
.title h1, h2, h3, h4{
    text-align: center;
    padding-bottom: 20vh;
}
.title img{
    padding-bottom: 10vh;
    display: block;
    margin: 0 auto;
    width: 50vw;
}