<link rel="stylesheet" href="./../static/css/sections/sidebar.css">
<nav id="sidebar">
    <div class="dropdown p-3">
        <div class="pointer dropdown-toggle" data-toggle="dropdown">
            <span class="username"></span>
        </div>
        <div class="dropdown-menu">
            <a class="dropdown-item" onclick="external_loadpage(this)" page="info" href="#info">Info</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" onclick="external_loadpage(this)" page="startpage" href="#home">Home</a>
            <a class="dropdown-item" onclick="external_loadpage(this)" page="profiles" href="#profiles">Profiles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" onclick="external_loadpage(this)" page="settings" href="#settings">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" onclick="logout()" href="#logout">Logout</a>
        </div>
    </div>

    <ul class="list-unstyled components" id="sidebarli">
        <hr>
        <p>PRESETS</p>
        <section class="lisection">
            <li class="liobj">
                <a style="color: white;" href="#" page="vanilla">Vanilla</a>
            </li>
            <!-- <li>
                <span class="none">Forge</span>
            </li> -->
        </section>
        <section class="lisection" id="mod-section">
            <p>MODPACKS</p>
            
        </section>
        <section class="lisection" id="custom-section">
            <p>CUSTOM</p>

        </section>
    </ul>
</nav>
<script src="./../static/js/sections/sidebar.js"></script>
