<nav id="sidebar">
    <div class="dropdown p-3">
        <div class="pointer dropdown-toggle" data-toggle="dropdown">
            <span class="username"></span>
        </div>
        <div class="dropdown-menu">
            <a class="dropdown-item" onclick="external_loadpage(this)" page="startpage" href="#home">Home</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" onclick="external_loadpage(this)" page="settings" href="#settings">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" onclick="logout()" href="#logout">Logout</a>
        </div>
    </div>

    <ul class="list-unstyled components" id="sidebarli">
        <li>
            <a href="#" page="vanilla">Vanilla</a>
        </li>
        <li>
            <a href="#" page="modded">Journey to the unknown planet</a>
        </li>
        <li>
            <a href="#" page="modded">Warp Nine</a>
        </li>
    </ul>
</nav>
<script>
    $(".username").text(getVal("credentials").username)
    for(let x of document.getElementById("sidebarli").children){
        x.setAttribute("onclick", "sidebar_loadpage(this)")
    }
    function sidebar_loadpage(btn){
        var btns = document.getElementById("sidebarli").children
        for(let x of btns){x.classList.remove("active")}
        btn.classList.add("active")
        loadpage(btn.children[0].getAttribute("page"))
    }
    function external_loadpage(btn){
        var btns = document.getElementById("sidebarli").children
        for(let x of btns){x.classList.remove("active")}
        loadpage(btn.getAttribute("page"))
    }
</script>