<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
        <link rel="stylesheet" href="./../static/css/bootstrap.css">
        <script>require('popper.js');</script>
        <script>require('bootstrap');</script>
        <style>
            #load{
                margin-left: 48vw;
                margin-top:45vh;
            }
        </style>
    </head>
    <body>
        <div id="load" class="spinner-border"></div>
    </body>
</html>