<html>
    <head>
        <style>
            #notice{
                text-align: center;
                margin-top: 30vh;
            }
        </style>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
        <link rel="stylesheet" href="./../static/css/bootstrap.css">
        <script>let $ = require('jquery');</script>
        <script>require('popper.js');</script>
        <script>require('bootstrap');</script>
    </head>
    <body>
        <div class="frame"></div>
        <div id="notice">
            <h2>You are offline!</h2>
            <h5>Please make sure that Software City is online and that you are connected to the Internet</h5>
            <button class="btn btn-secondary" onclick="retry()">Retry</button>
        </div>
        
        <script src="./../settingshandler.js"></script>
        <script>
            var remote = require("electron").remote
            function retry(){
                remote.app.relaunch()
                remote.app.quit()
            }
            if(!getVal("devMode")){
                $(".frame").load("sections/frame.html")
            }
        </script>
    </body>
</html>